body { background-color: lightskyblue;}
     .pizza { color: brown;}
     .empanada {font-size: 8ch; } 
     .turraca {text-align: right; }  
     .tito {text-decoration: line-through; } 
     .lampone { height: 5cm;width: 5cm;} 

